if SHIELD_yoshi_mas_LEFT

config ZMK_KEYBOARD_NAME
        default "yoshio_masterv1"

config ZMK_SPLIT_ROLE_CENTRAL
        default y

endif

if SHIELD_yoshi_mas_LEFT || SHIELD_yoshi_mas_RIGHT

config ZMK_SPLIT
        default y

endif
